/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 40px;
    /* bottom = footer height */
}

/* Estilos para la pantalla de carga */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco difuminado */
    backdrop-filter: blur(5px); /* Efecto de difuminado */
    z-index: 9999; /* Colocar encima de otros elementos */
}

/* Estilos para el contenido de la pantalla de carga */
.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px; /* Espacio entre el círculo y el texto */
}


/* Estilos para el spinner de carga */
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilos para el texto de carga */
#loading-text {
    margin-top: 10px;
    font-size: 16px;
}



.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.padding {
    padding: 15px;
}

#notification-popup.MessageBanner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    height: inherit;
    min-width: inherit;
}

#notification-popup .MessageBanner-text {
    margin: 0;
    padding: 18px 15px;
    min-width: inherit;
}

/* Estilos para todo el contenido del panel de tareas */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 350px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo cuando el botón está habilitado */
#generar-descripcion:enabled {
    width: 100%;
    padding: 10px 20px; 
    background-color: #45AF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}
/* Vista según el tipo de Contrato seleccionado */
.contractTypeView {
    display: none;
}
.ServiceTypeView {
    display: none;
}
.leaseTypeView {
    display: none;
}
.tradeTypeView {
    display: none;
}
.agreementTypeView{
    display: none;
}
.required {
    color: red;
}

/* Estilo cuando el botón está deshabilitado */
#generar-descripcion {
    background-color: #ccc; /* Color de fondo cuando deshabilitado */
    color: #999; /* Color del texto cuando deshabilitado */
    cursor: not-allowed; /* Cambia el cursor al indicador de no permitido */
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}
